@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

////////////////////////////////////////////////////////*HOME PAGE *///////////////////////////////////////////////////////////////

// Top navigation bar styling
.top-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

// Styling for phone and menu buttons
.Phone button,
.Menu-button {
  height: 48px;
  width: 200px;
  border: 1px solid #e1b168;
  background-color: #063e12;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7pc;
  font-family: "Josefin Sans", sans-serif;
  transition: background-color 0.3s ease;
}

// Removing underline from anchor links
.Phone a,
.Reservation-button a {
  text-decoration: none;
}

// Hover effect for phone button
.Phone button:hover {
  background-color: #0c5d20;
}

// Hover effect for reservation button
.Reservation-button button:hover {
  background-color: #32563a;
}

// Styling for reservation button
.Reservation-button button {
  height: 48px;
  width: 200px;
  background-color: #e1b168;
  border: 1px solid #e1b168;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8pc;
  transition: background-color 0.3s ease;
}

// Navigation bar styling
nav {
  display: flex;
  justify-content: center;
}

// Removing underline from navigation links
nav ul li a {
  text-decoration: none;
  color: white;
}

// Adding underline on hover for navigation links
nav ul li a:hover {
  text-decoration: underline;
}

// Styling for unordered list in navigation bar
ul {
  list-style: none;
  display: flex;
  gap: 60px;
  padding: 30px 0px;
  font-family: "Josefin Sans", sans-serif;
}

// Header background color
header {
  background-color: #063e12;
}

// Styling for horizontal line in header
.header-line {
  border: none;
  height: 2px;
  background-color: #e1b168;
}

// Hero section styling
.Hero-Section {
  display: flex;
  background-color: #063e12;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

// Left side of hero section
.Left-Hero-Section {
  max-width: 50%;
  color: white;
  padding-left: 11pc;
}

// Heading in left hero section
.Left-Hero-Section h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: "Cormorant Infant", serif;
  line-height: 3.5pc;
}

// Paragraph in left hero section
.Left-Hero-Section p {
  margin-bottom: 20px;
  padding-left: 14px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 12px;
}

// Button in left hero section
.Left-Hero-Section button {
  margin-left: 16px;
}

// Right side of hero section
.Right-Hero-Section {
  position: relative;
  display: flex;
  align-items: end;
}

// Image in hero section
.Hero-Section-image img {
  width: 425px;
  height: 525px;
  border-radius: 500px 500px 0px 0px;
  margin-left: 15pc;
  position: relative;
  top: 40px;
  right: 13pc;
  z-index: 3;
  border: 20px solid rgb(35, 77, 44);
  border-bottom: 20px solid white;
}

// Pattern image in hero section
.Hero-Section-pattern img {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 25px;
  right: 100px;
  z-index: 1;
}

// Story section background color
.Story-Section {
  background-color: #fff8f5;
}

// Heading and subheading in story section
.Story-Section h3,
.Story-Section h1 {
  font-family: "Cormorant Infant", serif;
  color: #292e36;
}

// Paragraph in story section
.Story-Section p {
  font-family: "Josefin Sans", sans-serif;
  color: #4a4a4a;
}

// Wrapper for story section content
.Story-Section-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
}

// Top part of story section
.Top-Story-section {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-left: 32px;
}

// Items in top story section
.Top-Story-section-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

// Images in top story section items
.Top-Story-section-item img {
  width: 60px;
  height: 60px;
}

// Bottom part of story section
.Bottom-Story-section {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  gap: 50px;
  padding-bottom: 80px;
  padding-left: 32px;
}

// Horizontal line in bottom story section
.Bottom-Story-section hr {
  height: 310px;
}

// Image in left bottom story section
.Left-Bottom-Story-section img {
  width: 450px;
}

// Top right part of bottom story section
.Top-Right-Bottom-Story-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
}

// Top middle part of bottom story section
.Top-Middle-Bottom-Story-section {
  display: flex;
  gap: 30px;
  padding-bottom: 50px;
}

// Heading in top middle bottom story section
.Top-Middle-Bottom-Story-section h1 {
  padding-bottom: 10px;
}

// Top down part of bottom story section
.Top-Down-Bottom-Story-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

// Heading in top down bottom story section
.Top-Down-Bottom-Story-section h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #292e36;
}

// Paragraph in top down bottom story section
.Top-Down-Bottom-Story-section p {
  font-size: 45px;
  font-family: "Ms Madi", cursive;
  color: #292e36;
}

// Menu section styling
.Menu-Section {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 6pc;
  margin-top: 5pc;
}

// Horizontal line in menu section
.Menu-Section hr {
  width: 60px;
  background-color: #e1b168;
  border: none;
  height: 1px;
}

// Styling for special offers section
.special-offers {
  width: 30%;
  padding-top: 13px;
  margin-left: 4pc;
}

// Heading and subheading in special offers section
.special-offers h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #292e36;
  font-size: 17px;
  letter-spacing: 2px;
  padding: 1px 0px;
}

.special-offers h2 {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: "Cormorant Infant", serif;
  color: #292e36;
}

// Paragraph in special offers section
.special-offers p {
  font-size: 16px;
  margin-bottom: 30px;
  font-family: "Josefin Sans", sans-serif;
  color: #555;
}

// Image in special offers section
.special-offers img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

// Button in special offers section
.special-offers button {
  padding: 10px 20px;
  border: 1px solid #ff7f50;
  color: #ff7f50;
  cursor: pointer;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
}

// Main menu section styling
.Main-menu {
  width: 70%;
  padding: 20px;
}

// Horizontal line in main menu section
.Main-menu hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 10px 0;
}

// Heading and subheading in main menu section
.Main-menu h3 {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}

.Main-menu h2 {
  font-size: 30px;
  margin: 15px 0;
  font-family: "Cormorant Infant", serif;
  color: #292e36;
}

// Menu items styling
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;

  border-bottom: 1px solid #ddd;
}

// Menu item information styling
.menu-info {
  display: flex;
  align-items: center;
}

// Image in menu item
.menu-info img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

// Paragraph in menu item information
.menu-info p {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #292e36;
  padding-bottom: 3px;
}

// Description in menu item information
.menu-info .description {
  font-size: 14px;
  color: #555;
}

// Price styling
.price {
  font-size: 18px;
  color: #333;
  font-family: "Cormorant Infant", serif;
  color: #292e36;
  font-weight: 800;
}

// Testimonial section styling
.testimonial-section {
  padding: 50px 10px;
  background-color: #063e12;
}

// Testimonial text styling
.testimonial-text {
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}

// Horizontal line in testimonial section
.testimonial-section hr {
  width: 120px;
  background-color: #e1b168;
  border: none;
  height: 1px;
  margin: 0 auto;
}

// Heading and subheading in testimonial section
.testimonial-section h2 {
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  padding-top: 5px;
}

.testimonial-section h3 {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
  font-family: "Cormorant Infant", serif;
}

// Paragraph in testimonial section
.testimonial-section p {
  font-size: 16px;
  margin-bottom: 30px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

// Styling for testimonials container
.testimonials {
  display: flex;
  justify-content: center;
  padding-left: 30px;
  gap: 20px;
}

// Horizontal line in testimonials
.testimonials hr {
  width: 300px;
  background-color: #797e89;
  border: none;
  height: 1px;
}

// Individual testimonial styling
.testimonial {
  background-color: #32563a;
  padding: 20px;
  width: 340px;
}

// Details of testimonials
.testimonials-details {
  display: flex;
  gap: 10px;
}

// Profile picture in testimonial
.profile-pic {
  display: flex;
  margin-bottom: 15px;
}

// Profile picture image in testimonial
.profile-pic img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

// Heading in testimonial
.testimonial h4 {
  margin: 10px 0 5px 0;
  font-size: 22px;
  font-family: "Cormorant Infant", serif;
  color: white;
}

// Location in testimonial details
.testimonials-details .location {
  font-size: 14px;
  color: #e1b168;
  margin-bottom: 15px;
  font-family: "Josefin Sans", sans-serif;
}

// Feedback text in testimonial section
.testimonial-section .feedback {
  font-size: 14px;
  color: #fff;
  padding-top: 30px;
  line-height: 1.5pc;
  font-family: "Cormorant Infant", serif;
  opacity: 0.7;
}

// Pagination styling
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

// Dot in pagination
.dot {
  height: 10px;
  width: 10px;
  background-color: #fffafa;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

// Second dot in pagination
#dot-two {
  background-color: #8f8b8b;
}

// Testimonial banner image styling
.testimonail-banner img {
  height: auto;
  width: 100%;
}

// Offer, dishes, and blog information section styling
.Offer-Information,
.Dishes-Information,
.Blog-Information {
  text-align: center;
  margin-top: 5pc;
}

// Heading and subheading in offer, dishes, and blog information section
.Offer-Information h3,
.Dishes-Information h3,
.Blog-Information h3 {
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
  color: #292e36;
  padding-top: 2px;
  font-size: 16px;
  font-weight: 400;
}

.Offer-Information hr,
.Dishes-Information hr,
.Blog-Information hr {
  width: 65px;
  margin: auto;
  border: none;
  background-color: #e1b168;
  height: 1px;
}

.Offer-Information h1,
.Dishes-Information h1,
.Blog-Information h1 {
  padding-top: 7px;
  padding-bottom: 9px;
  font-family: "Cormorant Infant", serif;
  color: #292e36;
  font-size: 30px;
  font-weight: 900;
}

// Text wrap in offer, dishes, and blog information section
.Offer-text-wrap,
.Dishes-text-wrap,
.Blog-text-wrap {
  width: 550px;
  margin: 0 auto;
  padding-bottom: 30px;
  font-family: "Josefin Sans", sans-serif;
  color: #555555;
}

// Offer banners image styling
.Offer-Banners img {
  width: 515px;
  padding-right: 25px;
}

// Offer banners container styling
.Offer-Banners {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

// Dishes container styling
.Dishes {
  display: flex;
  justify-content: center;
  gap: 23px;
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

// Dish item styling
.Dish div {
  display: flex;
  gap: 28px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.Dish div h3 {
  font-family: "Cormorant Infant", serif;
  color: #292e36;
  font-weight: bolder;
  font-size: 21px;
}

.Dish div h5 {
  padding-top: 4px;
  color: #292e36;
  font-weight: 300;
}

// Dish image styling
.Dish img {
  width: 230px;
}

// Dishes information text wrap styling
.Dishes-info-text-wrap {
  width: 220px;
  font-family: "Josefin Sans", sans-serif;
  color: #555555;
}

// Dishes button styling
.Dishes-button {
  padding: 10px 20px;
  border: 1px solid #ff7f50;
  color: #ff7f50;
  cursor: pointer;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
}

// Dishes button container styling
.Dishes-button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 7pc;
  margin-right: 1.2pc;
}

// Services section styling
.Services-Section {
  background-color: #063e12;
  padding-left: 200px;
  display: flex;
  padding-top: 120px;
  padding-bottom: 75px;
}

// Services text styling
.Servies-text {
  width: 360px;
  margin-left: 14.5pc;
  margin-top: 15px;
}

// Horizontal line in services text
.Servies-text hr {
  width: 140px;
  border: none;
  background-color: #e1b168;
  height: 1px;
}

// Services text wrap styling
.Service-text-wrap {
  width: 320px;
  padding-top: 9px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.3pc;
}

// Heading in services text
.Servies-text h1 {
  padding-top: 10px;
  color: white;
  font-family: "Cormorant Infant", serif;
  font-size: 34px;
}

// Subheading in services text
.Servies-text h3 {
  letter-spacing: 2px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-top: 6px;
  padding-bottom: 3px;
}

// Services container styling
.Services {
  display: flex;
  gap: 15px;
  padding-left: 10pc;
}

// Individual service container styling
.Service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 180px;
  background-color: #1d5129;
}

// Services image styling
.Services img {
  width: 150px;
  height: 140px;
}

// Blog container styling
.Blog-Container {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-bottom: 50px;
}

// Individual blog card styling
.Blog-Card {
  background-color: white;
  border: 1px solid #555;
  overflow: hidden;
  width: 450px;
  height: 460px;
  margin: 10px;
}

// Blog card image styling
.Blog-Card img {
  width: 100%;
  height: auto;
}

// Blog content styling
.Blog-Content {
  padding: 15px;
}

// Blog header styling
.Blog-Header {
  display: flex;
  gap: 15px;
  font-size: 12px;
  color: #aaa;
  margin-bottom: 10px;
}

// Blog category and date styling
.Blog-Category,
.Blog-Date {
  color: #292e36;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
}

// Horizontal line in blog category and date
.Blog-Category hr,
.Blog-Date hr {
  border: none;
  background-color: #e1b168;
  height: 1px;
  margin: 5px;
}

// Blog title styling
.Blog-Title {
  margin: 20px 0;
  color: #292e36;
  font-family: "Cormorant Infant", serif;
  font-size: 26px;
}

// Blog description styling
.Blog-Description {
  color: #555;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
}

// Reservation section styling
.Reservation-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url("Resources/Reservationbackground.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10pc;
}

// Reservation form styling
.Reservation-Form {
  background-color: #1d5129;
  opacity: 0.8;
  text-align: center;
  width: 80%;
  max-width: 700px;
  padding: 70px 100px;
}

// Heading in reservation form
.Reservation-Form h3 {
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  padding-top: 3px;
}

// Horizontal line in reservation form
.Reservation-Form hr {
  width: 110px;
  margin: 0 auto;
  border: none;
  height: 1px;
  background-color: #e1b168;
}

// Subheading in reservation form
.Reservation-Form h1 {
  color: white;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 28px;
  font-family: "Cormorant Infant", serif;
}

// Form in reservation form
.Reservation-Form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Input group styling
.input-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

// Input field styling
.input-group input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ffffff;
  color: white;
  background-color: #1d5129;
  opacity: 0.8;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

// Placeholder text styling
.input-group input::placeholder {
  color: white;
}

// Name and email input field styling
.name-email {
  width: 48%;
}

// Person input field styling
.input-group input[name="person"] {
  width: 30%;
}

// Timing input field styling
.input-group input[name="timing"] {
  width: 30%;
}

// Date input field styling
.input-group input[name="date"] {
  width: 30%;
}

// Button styling in reservation form
.Reservation-Form button {
  background-color: rgb(255, 255, 255);
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #292e36;
  font-family: "Josefin Sans", sans-serif;
}

// Hover effect for button in reservation form
.Reservation-Form button:hover {
  background-color: #e1b168;
}

// Footer section styling
.footer {
  background-color: #063e12;
  color: white;
  padding-top: 20px;
  text-align: center;
}

// Footer logo styling
.footer-logo {
  margin-bottom: 20px;
  padding-top: 20px;
}

// Footer logo image styling
.footer-logo img {
  width: 280px;
}

// Footer container styling
.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
  margin-bottom: 20px;
}

// Footer contact and hours styling
.footer-contact,
.footer-hours {
  flex: 1;
}

.footer-contact {
  text-align: left;
}

.footer-hours {
  text-align: right;
}

// Footer contact and hours heading styling
.footer-contact h4,
.footer-hours h4 {
  font-size: 16px;
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 2px;
}

// First heading in footer hours
.footer-hours h4:first-child {
  left: 0;
  color: green;
}

// Horizontal line in footer contact and hours
.footer-contact hr,
.footer-hours hr {
  background-color: #e1b168;
  border: none;
  height: 1px;
  width: 70px;
}

// Horizontal line in footer hours
.footer-hours hr {
  margin-left: 45rem;
  width: 140px;
}

// Footer contact and hours paragraph styling
.footer-contact p,
.footer-hours p {
  margin: 5px 0;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 6px;
}

// Footer contact and hours div styling
.footer-contact div,
.footer-hours div {
  padding-top: 23px;
}

// Footer contact and hours span styling
.footer-contact span,
.footer-hours span {
  color: #e1b168;
}

// Footer subscribe container styling
.footer-subscribe-container {
  text-align: center;
  margin: 20px 0;
  margin-bottom: 30px;
}

// Footer subscribe container paragraph styling
.footer-subscribe-container p {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 18px;
}

// Footer subscribe form styling
.footer-subscribe {
  display: flex;
  justify-content: center;
  padding-left: 25px;
}

// Footer subscribe input field styling
.footer-subscribe input {
  width: 270px;
  padding: 15px 10px;
  font-size: 14px;
  background-color: #063e12;
  border: 1px solid white;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

// Footer subscribe button styling
.footer-subscribe button {
  padding: 15px 20px;
  width: 140px;
  border: none;
  background-color: white;
  color: #292e36;
  font-weight: bold;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
}

// Hover effect for footer subscribe button
.footer-subscribe button:hover {
  background-color: #e0e0e0;
}

// Copyright section styling
.Copyright-Section {
  border-top: 1px solid #575b62;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8.5pc;
}

// Copyright section paragraph styling
.Copyright-Section p {
  padding-top: 5px;
  font-family: "Josefin Sans", sans-serif;
}

// Footer socials container styling
.Footer-Socials {
  display: flex;
  gap: 15px;
  padding-top: 5px;
}

// Footer socials image styling
.Footer-Socials a img {
  width: 16px;
  height: 16px;
}

//////////////////////////////////////////////////*Our Essence Page *///////////////////////////////////////////////////////////////

// Main heading and menu page heading styling
.Main-Heading,
.Menu-Page-Heading {
  background-color: #063e12;
  padding: 40px 0;
  text-align: center;
  font-family: "Cormorant Infant", serif;
  color: white;
}

// Horizontal line styling in main heading
.Main-Heading hr {
  border: none;
  height: 1px;
  background-color: #e1b168;
  width: 200px;
  margin: 0 auto;
}

// Introduction section styling
.Introduction-Section {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

// Left side of introduction section
.Left-Introduction-Section {
  margin: auto 0;
}

// Horizontal line styling in left introduction section
.Left-Introduction-Section hr {
  height: 1px;
  border: none;
  background-color: #e1b168;
  width: 110px;
}

// Subheading styling in left introduction section
.Left-Introduction-Section h3 {
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  color: #292e36;
  font-weight: 400;
  margin-top: 5px;
}

// Heading styling in left introduction section
.Left-Introduction-Section h2 {
  padding-top: 15px;
  padding-bottom: 20px;
  color: #292e36;
  font-family: "Cormorant Infant", serif;
  font-size: 30px;
}

// Highlighted text styling in left introduction section
.Left-Introduction-Section h1 {
  padding-top: 30px;
  padding-bottom: 5px;
  font-family: "Josefin Sans", sans-serif;
  color: #292e36;
  font-size: 14px;
  font-weight: 600;
}

// Paragraph styling in left introduction section
.Left-Introduction-Section p {
  font-family: "Josefin Sans", sans-serif;
  color: #555;
  text-align: justify;
}

// Span text styling in left introduction section
.Left-Introduction-Section span {
  display: block;
  font-family: "Ms Madi", cursive;
  color: #292e36;
  font-size: 50px;
}

// Button styling in left introduction section
.Left-Introduction-Section .See-button {
  height: 48px;
  width: 200px;
  border: 1px solid #e1b168;
  background-color: white;
  color: #e1b168;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 30px;
}

// Introduction section images container styling
.Introduction-Section-images {
  display: flex;
}

// Right side of introduction section
.Right-Introduction-Section {
  padding-top: 120px;
  padding-bottom: 50px;
}

// Image styling in introduction section
.Introduction-Section-image img {
  height: 420px;
  width: 370px;
  border-radius: 0px 140px 0px 0px;
  position: relative;
  right: -6.5pc;
  z-index: 2;
}

// Pattern image styling in introduction section
.Introduction-Section-pattern img {
  height: 200px;
  width: auto;
  opacity: 0.5;
  z-index: 1;
}

// CEO details container styling
.Ceo-Details {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 15px;
}

// CEO image styling
.Ceo-Details img {
  border-radius: 100px;
}

// CEO name styling
.Ceo-Details h3 {
  padding-bottom: 6px;
  font-family: "Josefin Sans", sans-serif;
  color: #292e36;
  font-weight: 600;
}

// CEO title styling
.Ceo-Details h5 {
  font-family: "Josefin Sans", sans-serif;
  color: #4a4a4a;
  font-weight: 500;
}

// CEO section styling
.Introduction-Section-Ceo {
  padding: 30px 60px 0 40px;
  width: 300px;
  height: 210px;
  position: relative;
  bottom: 5pc;
  background-color: #ffffff;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

// CEO section paragraph and stars styling
.Introduction-Section-Ceo p,
.stars {
  padding-left: 10px;
}

// Paragraph styling in CEO section
.Introduction-Section-Ceo p {
  font-family: "Josefin Sans", sans-serif;
  color: #555;
  line-height: 25px;
}

// Stars styling in CEO section
.stars {
  color: #e1b168;
}

// Banner image styling
.Banner img {
  width: 100%;
  object-fit: cover;
}

// Chef section styling
.Chef-Section {
  max-width: 1100px;
  margin: 150px auto;
}

// Horizontal line styling in chef section
.Chef-Section hr {
  width: 65px;
  margin: 0 auto;
  border: none;
  background-color: #e1b168;
  height: 1px;
}

// Subheading styling in chef section
.Chef-Section h3 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: #292e36;
  padding-top: 2px;
  font-weight: 500;
  letter-spacing: 2px;
}

// Heading styling in chef section
.Chef-Section h1 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 30px;
  color: #292e36;
  font-family: "Cormorant Infant", serif;
  font-size: 28px;
}

// Individual chef name styling
.chef h1 {
  padding-top: 10px;
  padding-bottom: 0px;
}

// Individual chef title styling
.chef h3 {
  padding-top: 3px;
}

// Chefs container styling
.chefs {
  display: flex;
  justify-content: center;
  gap: 20px;
}

// Chefs image styling
.chefs img {
  width: 236px;
}

// Testimonial section styling
.Testimonial-Section {
  text-align: center;
  padding: 80px 20px;
  background-color: #063e12;
}

// Horizontal line styling in testimonial section
.Testimonial-Section hr {
  height: 1px;
  border: none;
  background-color: #e1b168;
  width: 120px;
  margin: 0 auto;
}

// Section title styling in testimonial section
.section-title {
  font-size: 18px;
  letter-spacing: 2px;
  color: #a0c0a0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 3px;
}

// Main title styling in testimonial section
.main-title {
  font-size: 32px;
  margin: 10px 0 30px;
  font-family: "Cormorant Infant", serif;
  color: white;
}

// Testimonial content container styling
.testimonial-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

// Testimonial quote container styling
.testimonial-quote {
  max-width: 600px;
  text-align: center;
}

// Quote styling in testimonial section
.quote {
  font-size: 18px;
  font-family: "Cormorant Infant", serif;
  font-style: italic;
  margin-bottom: 30px;
  color: white;
}

// Client container styling in testimonial section
.client {
  display: flex;
}

// Client image styling in testimonial section
.client-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

// Client name styling in testimonial section
.client-name {
  font-size: 20px;
  margin: 0;
  font-family: "Cormorant Infant", serif;
  color: white;
  padding-top: 5px;
  padding-bottom: 10px;
}

// Client title styling in testimonial section
.client-title {
  font-size: 16px;
  color: #e1b168;
  font-family: "Josefin Sans", sans-serif;
}

// Left arrow styling in testimonial section
.left-arrow {
  position: relative;
  bottom: 5pc;
  right: 10pc;
}

// Right arrow styling in testimonial section
.right-arrow {
  position: relative;
  bottom: 5pc;
  left: 10pc;
}

// Gallery section styling
.gallery-section {
  text-align: center;
  margin-top: 150px;
  padding-bottom: 50px;
}

// Horizontal line styling in gallery section
.gallery-section hr {
  width: 90px;
  margin: 0 auto;
  border: none;
  background-color: #e1b168;
  height: 1px;
}

// Subheading styling in gallery section
.gallery-section h3 {
  font-size: 15px;
  letter-spacing: 2px;
  color: #292e36;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  padding-top: 5px;
}

// Heading styling in gallery section

.gallery-section h1 {
  font-size: 36px;
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: "Cormorant Infant", serif;
  color: #292e36;
}

// Gallery images container styling
.gallery-images {
  display: flex;
  justify-content: center;
  gap: 8px;
}

// Gallery column styling
.gallery-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

// Gallery image styling
.gallery-column img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

// Specific gallery image styling
#one,
#two,
#four,
#five {
  max-width: 200px;
}

#three {
  max-width: 550px;
}

// Hover effect for gallery images
.gallery-column img:hover {
  transform: scale(1.05);
}

//////////////////////////////////////////////////*Menu Page *////////////////////////////////////////////////////////////////////

// Horizontal line styling in menu page heading
.Menu-Page-Heading hr {
  border: none;
  height: 1px;
  background-color: #e1b168;
  width: 140px;
  margin: 0 auto;
}

// Starters section styling
.Starters-Section {
  display: flex;
  align-items: center;
  padding-top: 130px;
  padding-right: 20px;
  background-color: #ffffff;
  gap: 60px;
  justify-content: center;
}

// Image styling for starters, main dish, and desserts sections
.Starters-image img,
.MainDish-image img,
.Desserts-image img {
  width: 365px;
  padding-top: 10px;
}

// Heading styling for starters, main dish, and desserts sections
.Starters-details h2,
.MainDish-details h2,
.Desserts-details h2 {
  font-size: 28px;
  margin-bottom: 35px;
  font-family: "Cormorant Infant", serif;
  color: #292e36;
}

// Item container styling for starters, main dish, and desserts sections
.Starter-item,
.MainDish-item,
.Desserts-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 230px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

// Info container styling for starters, main dish, and desserts sections
.Starter-info,
.MainDish-info,
.Desserts-info {
  display: flex;
  align-items: center;
}

// Image styling within info containers for starters, main dish, and desserts sections
.Starter-info img,
.MainDish-info img,
.Desserts-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

// Title styling within info containers for starters, main dish, and desserts sections
.Starter-info h3,
.MainDish-info h3,
.Desserts-info h3 {
  margin: 0;
  font-size: 18px;
  font-family: "Cormorant Infant", serif;
  color: #292e36;
}

// Description styling within info containers for starters, main dish, and desserts sections
.Starter-info p,
.MainDish-info p,
.Desserts-info p {
  margin: 5px 0;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  color: #555555;
}

// Price styling for starters
.Starter-price {
  font-size: 16px;
  font-family: "Cormorant Infant", serif;
  color: #292e36;
  font-weight: 900;
}

// Button styling for "See all dishes"
.See-button {
  padding: 10px 40px;
  border: 2px solid #e1b168;
  color: #e1b168;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin-top: 50px;
  font-family: "Cormorant Infant", serif;
  background-color: white;
}

// Image banner styling
.Image-banner img {
  height: auto;
  width: 100%;
  object-fit: fill;
}

// Image banner container styling
.Image-banner {
  padding: 10pc 0px;
}

// Main dish and desserts section styling
.MainDish-Section,
.Desserts-Section {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 20px;
  background-color: #ffffff;
  gap: 60px;
  justify-content: center;
}

//////////////////////////////////////////////////*Team Page*////////////////////////////////////////////////////////////////////

// Team section styling
.team {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
}

// Heading styling in team section
.team h1 {
  margin-bottom: 30px;
  font-family: "Cormorant Infant", serif;
  color: #292e36;
  margin-top: 7px;
}

// Subheading styling in team section
.team h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #292e36;
  padding-top: 5px;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 14px;
}

// Horizontal line styling in team section
.team hr {
  height: 1px;
  width: 50px;
  background-color: #e1b168;
  border: none;
  margin: 0 auto;
}

// Chefs grid container styling
.chefs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

// Individual chef card styling
.chef {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eeeeee;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

// Chef image styling
.chef img {
  width: 100%;
  max-width: 400px;
  transition: transform 0.3s ease;
}

// Overlay styling for chef card
.chef .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

// Overlay heading styling
.overlay h3 {
  font-family: "Cormorant Infant", serif;
  color: white;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

// Overlay paragraph styling
.overlay p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

// Hover effect for chef image
.chef:hover img {
  transform: scale(1.1);
}

// Hover effect for overlay
.chef:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

// Chef skills section styling
.chef-skills {
  margin-top: 10rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

// Skills content container styling
.skills-content {
  width: 30%;
}

// Horizontal line styling in skills content
.skills-content hr {
  height: 1px;
  width: 110px;
  background-color: #e1b168;
  border: none;
}

// Main heading styling in skills content
.skills-content h1 {
  font-size: 32px;
  margin-bottom: 12px;
  margin-top: 2px;
  font-family: "Cormorant Infant", serif;
  color: #292e36;
}

// Subheading styling in skills content
.skills-content h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 3px;
  color: #292e36;
}

// Paragraph styling in skills content
.skills-content p {
  font-size: 16px;
  margin-bottom: 50px;
  color: #555;
  font-family: "Josefin Sans", sans-serif;
  line-height: 20px;
  text-align: justify;
}

// Skill heading styling
.skill h2 {
  color: #292e36;
  font-family: "Cormorant Infant", serif;
  margin-bottom: 5px;
}

// Button styling for "See all"
.btn-see-all {
  display: inline-block;
  color: #e1b168;
  background-color: rgb(255, 255, 254);
  border: 1px solid #e1b168;
  text-decoration: none;
  margin-top: 10px;
  padding: 10px 30px;
  transition: background-color 0.3s;
}

// Hover effect for "See all" button
.btn-see-all:hover {
  background-color: rgb(235, 195, 85);
  color: #ffffff;
}

// Image styling in skills section
.skills-image img {
  width: 100%;
  max-width: 550px;
  height: auto;
}

// Progress bar container styling
.bar {
  width: 100%;
  background-color: #e0e0e0;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 50px;
}

// Progress bar styling
.progress {
  height: 10px;
  background-color: #333;
  border-radius: 5px;
}

// Media query for screens up to 768px width
@media (max-width: 768px) {
  .chefs-grid {
    grid-template-columns: 1fr 1fr;
    gap: 10px; /* Adjust gap for smaller screens */
  }
}

// Media query for screens up to 480px width
@media (max-width: 480px) {
  .chefs-grid {
    grid-template-columns: 1fr;
  }
}

// Media query for screens up to 960px width
@media (max-width: 960px) {
  .chef-skills {
    flex-direction: column;
    text-align: center;
  }

  .chef-skills .skills-content,
  .chef-skills .skills-image {
    width: 100%;
  }

  .chef-skills .skills-image {
    margin-top: 20px;
  }
}
//////////////////////////////////////////////////*Contact Page*////////////////////////////////////////////////////////////////////

// Head section and error head section styling
.Head-Section,
.Error-Head-Section {
  padding-top: 2pc;
  padding-bottom: 3pc;
  background-color: #063e12;
}

// Heading styling in head section
.Head-Section h1 {
  font-size: 45px;
  color: white;
  padding-bottom: 5px;
  text-align: center;
}

// Horizontal line styling in head section
.Head-Section hr {
  border: none;
  height: 1px;
  background-color: #e1b168;
  width: 250px;
  margin: 0 auto;
}

// Contact section container styling
.contact-section {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 8pc;
  margin-bottom: 10pc;
}

// Contact information container styling
.contact-info {
  background-color: #fff8f5;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 55px;
  width: 30%;
}

// Heading styling in contact details
.contact-details h2 {
  font-size: 32px;
  margin-bottom: 13px;
  color: #292e36;
  font-family: "Cormorant Infant", serif;
}

// Paragraph styling in contact details
.contact-details p {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 35px;
  font-family: "Josefin Sans", sans-serif;
  color: #555;
}

// Icons container styling in contact details
.contact-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

// Paragraph styling for icons in contact details
.contact-icons p {
  margin-bottom: 0;
}

// Social icons container styling
.social-icons {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

// Contact form container styling
.contact-form {
  width: 30%;
  margin-top: 35px;
}

// Horizontal line styling in contact form
.contact-form hr {
  border: none;
  width: 60px;
  height: 1px;
  background-color: #e1b168;
}

// Subheading styling in contact form
.contact-form h2 {
  font-size: 11px;
  font-family: "Josefin Sans", sans-serif;
  color: #292e36;
  font-weight: 500;
  padding-top: 2px;
  letter-spacing: 2px;
}

// Heading styling in contact form
.contact-form h3 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 5px;
  color: #292e36;
  font-family: "Cormorant Infant", serif;
}

// Form styling in contact form
.contact-form form {
  display: flex;
  flex-direction: column;
}

// Form group container styling
.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

// Input and textarea styling in form group
.form-group input,
.form-group textarea {
  width: 48%;
  padding: 15px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

// Textarea specific styling in form group
.form-group textarea {
  width: 100%;
  resize: none;
}

// Button styling in contact form
.contact-form button {
  padding: 15px;
  border: 1px solid #e1b168;
  background-color: #ffffff;
  color: #e1b168;
  font-size: 16px;
  cursor: pointer;
  width: 140px;
  font-family: "Josefin Sans", sans-serif;
  color: #555;
}

// Hover effect for button in contact form
.contact-form button:hover {
  background-color: #c89c50;
}

// Branches section styling
.branches-section {
  padding: 50px 0;
  text-align: center;
}

// Subheading styling in branches section
.branches-section h1 {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #292e36;
  letter-spacing: 2px;
  padding-top: 3px;
  font-weight: 500;
}

// Horizontal line styling in branches section
.branches-section hr {
  border: none;
  width: 100px;
  height: 1px;
  background-color: #e1b168;
  margin: 0 auto;
}

// Heading styling in branches section
.branches-section h2 {
  font-size: 32px;
  margin-bottom: 40px;
  margin-top: 20px;
  color: #292e36;
  font-family: "Cormorant Infant", serif;
}

// Branches container styling
.branches {
  display: flex;
  justify-content: center;
  gap: 30px;
}

// Individual branch container styling
.branch {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  display: flex;
  overflow: hidden;
  width: 45%;
  max-width: 520px;
  height: 350px;
  transition: box-shadow 0.3s ease;
}

// Hover effect for individual branch container
.branch:hover {
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.9);
}

// Image styling in individual branch container
.branch img {
  width: 100%;
}

// Branch content container styling
.branch-content {
  margin-top: 10%;
  padding: 20px;
  text-align: center;
}

// Subheading styling in branch content
.branch-content h3 {
  font-size: 25px;
  margin-bottom: 15px;
  color: #292e36;
  font-family: "Cormorant Infant", serif;
}

// Paragraph styling in branch content
.branch-content p {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
  color: #292e36;
  text-align: center;
}

// Image styling in contact details
.contact-details img {
  width: 30px;
}

// Contact details container padding
.contact-details {
  padding-top: 30px;
}

// Image container styling
.img-div {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

// Paragraph styling in image container
.img-div p {
  margin-bottom: 0px;
}

//////////////////////////////////////////////////*404 Page*////////////////////////////////////////////////////////////////////

// Horizontal line styling in error head section
.Error-Head-Section hr {
  border: none;
  height: 1px;
  background-color: #e1b168;
  width: 100px;
  margin: 0 auto;
}

// Error section container styling
.error-section {
  margin-top: 7pc;
  margin-bottom: 8pc;
}

// Error container styling
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}

// Image styling in error container
.error img {
  height: 250px;
}

// Error information container styling
.error-info {
  text-align: center;
  margin-bottom: 50px;
}

// Heading styling in error information
.error-info h3 {
  font-family: "Cormorant Infant", serif;
  color: black;
  font-size: 28px;
}

// Subheading styling in error information
.error-info h5 {
  color: #555555;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 8px;
  font-weight: 500;
  padding-bottom: 28px;
}

// Button styling in error information
.error-info button {
  height: 38px;
  width: 130px;
  background-color: #e1b168;
  border: 1px solid #e1b168;
  font-size: 12px;
  font-family: "Josefin Sans", sans-serif;
  color: #292e36;
}
